.facts {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	margin: 2em 0 1em;
	padding: 0.65rem 0.4rem;
	background-color: rgba(170, 170, 170, 0.1);
  
	p {
	  text-align: left;
	  margin: 0;
	}
}