$breakpoint-sm: 576px;

body {
  background-color: #000000;
  background-repeat: repeat;
  background-position: top center;
  background-image: image-url("stars.png");
  font-size: 16px;
  font-family: helvetica;
}

.container, header, footer {
  z-index: 10;
  position: relative;
}

header {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.header {
  display: block;
  width: 100%;
  font-weight: bold;
}

footer {
    display: block;
    margin-top: 2rem;
}

ul li { 
  display:inline-block;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover {
  color: #ffe924;
  text-decoration: none;
}

p {
  color: #ffffff;
}

h1, h2, h3, h4, h5 {
  color:#ffffff;
  text-transform: uppercase;
}

h1, h2, h3 {
  font-weight: bold;
  width: 100%;
}

h1.text-header {
  margin: 1em 0;
}

@media (min-width: $breakpoint-sm) {
  h1.text-header {
    display: none;
  }
}

.text-crawl {
  margin: 2rem 0;
}

h3 {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  margin: 1.4em 0;
  padding: 0.65rem 12px 0.4rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  background-color: rgba(170, 170, 170, 0.1);
}

h3, .text-center-r {
  text-align: center;
}

@media (min-width: $breakpoint-sm) {
  .navbar-nav {
    margin-top: 2rem;
  }

  h3, .text-center-r {
    text-align: left;
  }

  .home h5 {
    font-size: 0.8rem;
    padding: 0;
  }

}
