<footer class="container" aria-label="Footer">
<p class="small text-center">Star Wars and associated names and/or images are copyright Lucasfilm Ltd. 
Image credits: 
<a href="https://www.starwars.com">starwars.com</a>,
<a href="http://www.coverwhiz.com">coverwhiz</a>, 
<a href="http://starwars.wikia.com/wiki/Main_Page">Wookiepedia</a></p>
<a href="#" id="toTop"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" ><path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/><path d="M0 0h24v24H0z" fill="none"/></svg></a>
</footer>